.card-title{
    text-align: center;
    background-color:black;
    color:white;
}
.card-img-top{
    width:250px;
    height:150px;
}
.card-text{
    text-align: center;
    margin:10px;
}
.btn{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}